
*
{
	box-sizing:border-box;
	overflow:auto;
}
body
{
	background-color:#e3e3e3;
}
.panel
{
	height:150px;
	overflow:hidden;
}
.col-lg-4 .panel
{
	height:250px;
	overflow:auto;
}
.panel-heading .breadcrumb
{
	background-color:transparent;
}
table
{
	background-color:#fff;
	border-collapse:collapse;	
}
td
{
	border:1px solid black;

}
tr:nth-child(odd)
{
	background-color:#aaa;
}